:root {
  --brightsred: rgba(231, 88, 88, 1);
  --brightszapvibes-blue: rgba(50, 116, 185, 1);
  --brightszapvibes-green: rgba(112, 183, 97, 1);
  --brightszapvibes-purple: rgba(127, 130, 215, 1);
  --brightszapvibes-yellow: rgba(231, 177, 88, 1);
  --greyszapvibes-almost-black: rgba(31, 31, 31, 1);
  --greyszapvibes-dark-grey: rgba(45, 43, 44, 1);
  --greyszapvibes-light-grey: rgba(168, 168, 168, 1);
  --greyszapvibes-middle-grey: rgba(121, 121, 121, 1);
  --greyszapvibes-white: rgba(255, 255, 255, 1);
}

.users-list {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

/* ... rest of the provided CSS code ... */
