.home-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    background-image: url('../images/background.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(31, 31, 31, 0.85); /* Black transparent overlay */
}

.content {
    position: relative;
    z-index: 1; /* Ensure content is above the overlay */
    color: white; /* Ensure text color is white */
    text-align: center; /* Center text */
}