.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 26px 32px 32px;
    gap: 20px;
    position: relative;
    width: 348px;
    height: 225px;
    background: #2D2B2C;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12), 0px 14px 250px rgba(0, 0, 0, 0.14);
    border-radius: 4px;
}

.title {

    width: 284px;
    height: 24px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px;

}

.buttonContainer {
    display: flex;
    gap: 10px;
}

.closeButton {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 96px;
    height: 38px;
    border: 1px solid #F2A900;
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 0;

}

.buyButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 96px;
    height: 38px;
    background: #F2A900;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.buyButtonDisabled {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 96px;
    height: 38px;
    background: #1F1F1F;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
    cursor: not-allowed;
    pointer-events: none;
}

.qrContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 11px 13px;
    gap: 8px;
    width: 234px;
    height: 232px;
    background: #FFFFFF;
    border: 1px solid #F5F5F5;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.message {
    width: 284px;
    height: 20px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 0px 0px;
    text-align: center !important;
    color: #D8D8D8;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
