.mainContainer {
    width: 1052px;
    height: 565px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: 20px solid rgba(31, 31, 31, 1);
    border-top: 0px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.14), 0px 0px 1px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background-color: #2d2b2c;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    box-sizing: border-box;
    gap: 20px;
    text-align: left;
    font-size: 12px;
    color: #d6d6d6;
    font-family: Inter;
    user-select: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


.title {
    width: 278px;
    height: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    z-index: 0;
    user-select: none;
}

.providedByImage {
    position: absolute;
    right: 0;
    top: 5px;
    right: 20px;
    height: 40px;
}

.carousel {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    padding-bottom: 20px;
    scrollbar-width: thin;
    scrollbar-color: #444 transparent;
    margin-left: 0px;
    padding-left: 0;
    user-select: none;
}

/* For WebKit browsers (Chrome, Safari, etc.) */
.carousel::-webkit-scrollbar {
    height: 8px;
    border-radius: 10px;
}

.carousel::-webkit-scrollbar-track {
    background: transparent;
}

.carousel::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 10px;
    border: 2px solid transparent;
}

.carousel::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.carousel::-webkit-scrollbar-thumb:active {
    background-color: #666;

}

.card {
    width: 336px;
    height: 100%;
    background-color: rgba(31, 31, 31, 1);
    border-radius: 4px;
    padding: 0px;
    box-sizing: border-box;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    user-select: none;
}


.cardImage {
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.cardTitle {
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
}

.cardDescription {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    height: 60px;

}

.productDetails {
    color: rgba(91, 95, 199, 1);
    cursor: pointer;
    font-weight: 600;
    user-select: none;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0px;
    height: 20px;
}

.longDescription {
    color: #d6d6d6;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: 60px;

}

.priceContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    gap: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;

}

.price {
    color: #d6d6d6;
    font-weight: 700;
    font-size: 24px;
    display: flex;
    align-items: center;
}

.sats {
    color: #d6d6d6;
    font-weight: normal;
    font-size: 12px;
    display: flex;
    align-items: center;
}

.buyButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    font-family: 'Inter';
    width: 128px;
    height: 38px;
    background: #F2A900;
    border-radius: 4px;
    flex: none;
    order: 2;
    flex-grow: 0;
    cursor: pointer;
    border: none;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.rewardImage {
    width: 100%;
    height: 160px;
    object-fit: cover;
    margin-bottom: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: height 0.3s ease;
}

.noPointer {
    cursor: default;
}