.sentcomponent {
    width: 32%;
    position: relative;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.14), 0px 0px 1px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background-color: #2d2b2c;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px !important;
    box-sizing: border-box;
    gap: 20px;
    text-align: left;
    font-size: 12px;
    color: #d6d6d6;
    font-family: Inter;
    padding-top: 7px;
    padding-bottom: 17px;
    padding-right: 15px;
    height: 240px;
}

.title {
    width: 278px;
    height: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    z-index: 0;
}

.bigNumber {
    /*width: 236px;*/
    height: 58px;
    margin-right: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #F2A900;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 5px;
    margin-bottom: 10px;

}

.sats {
    width: 53.96px;
    height: 17px;
    font-size: 1em;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: flex-end;
    text-align: left;
    color: #D8D8D8;
    flex: none;
    order: 1;
    flex-grow: 0;

}

.satsBig {
    margin-top: 11px;

}

.zapsSentContainer {
    display: flex;
    align-items: center;
}

.statValue {
    text-align: right;
}

.rowDetails {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 4px;
    width: 278px;
    height: 23px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    line-height: 16px;
}

.tdWidth {
    padding-right: 95px;
}

.zapValues {
    width: 50px;
    height: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
}



  .feedcomponent {
    width: 100%;
  }

  .horizontalContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 7px; 
    width: 100%;
  }