.wallet-info {
    background-color: #333;
    color: #f0f0f0;
    padding: 15px;
    border-radius: 10px;
    min-width: 900px;
    margin: 0;
    text-align:left;
    font-size: 14px;
  }
  
  .wallet-total {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .wallet-total h1 {
    margin: 0;
    color: #f0a500;
  }
  
  .wallet-actions {
    display: flex; /* Enables flexbox */
    gap: 20px;
    margin-top: 20px;
  }
  
  .receive-btn, .send-btn {
    padding: 10px 20px;
    border: none;
    /* background-color: #f0a500; */
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .horizontal-container {
    display: flex; /* Enables flexbox */ 
    color: #f0a500;
  }
  .horizontal-container h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 48px;
  }

  
  .item {
    padding: 5px;
    border-radius: 5px;
    color: white;
    align-self:baseline;
  }
  
  .receive-btn:disabled,
 .send-btn:disabled {
  pointer-events: none;
  opacity: 0.6; 
  cursor: not-allowed;
}