.wallet-container {
  background-color: #333;
  color: #f0f0f0;
  padding: 15px;
  border-radius: 10px;
  width: 100%;
  font-size: 14px;
  width: 900px;
}

.wallet-header {
  margin: 0;
  text-align:left
}

.wallet-header p {  
  margin: 5px 0;
}

.mainContent {
  min-width: 1000px;
  text-align: left;
}

.wallet-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 14px 0;
}

.battery-icon {
  width: 50px;
  height: 30px;
  border: 2px solid #f0a500;
  position: relative;
}

.battery-fill {
  height: 100%;
  background-color: #f0a500;
}

.sats-amount h1 {
  margin: 0;
}

.sats-amount p {
  margin: 0;
  font-size: 14px;
}

.wallet-footer {
  margin-top: 20px;

}

.sats-info {
  display: flex;
  justify-content: space-between;
}

.color-box {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 5px;
}

.remaining-color {
  background-color: #f0a500;
  align-items: left;
  align-self: left;
  align-content: left;
  
}

.spent-color {
  background-color: #7c4f2a;
}

.wallet-buttons {
  display: flex;
  justify-content:flex-start;
  gap: 20px;
  margin-top: 20px;
}

.receive-btn, .send-btn {
  padding: 10px 20px;
  border: none;
  color: rgba(242, 169, 0, 1);
  cursor: pointer;
  border-radius: 5px;
  width: 122px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 38px;
  border: 1px solid #F2A900;
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
  background-color: #333;
}

.receive-btn:hover, .send-btn:hover {
  background-color: #d18900;
  color: white;
}

button{
  width: 100%;
}

.amountDisplayContainer{
  justify-content: flex-start;
  align-items: baseline;
  gap: 6px;
  display: inline-flex;
}

.amountDisplay
{
  text-align: center;
  color: #F2A900;
  font-size: 48px;
  font-family: Inter;
  font-weight: 500px;
  word-wrap: break-word
}

.amountSatTextValue{
  text-align: center,;
  color: #D8D8D8;
  font-size: 14px;
  font-family: Inter;
  font-weight: 400px;
  word-wrap: break-word
}

.refreshImageIcon
{
  width: 30px;
  height: 30px; 
  border-radius: 4px;
  border: 1px #F2A900 solid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.nextAllwanceContainer{
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  display: inline-flex;
}