.transaction-tabs {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px;
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button.active {
    background-color: #f0a500;
  }
  
  .stringTabTitle {
    position: relative;
    line-height: 20px;
}
.stringBadgeIconStack {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.borderBottom {
    flex: 1;
    position: relative;
    border-radius: 2px 2px 0px 0px;
    background-color: #5b5fc7;
    height: 2px;
    overflow: hidden;
}
.borderPaddingStack {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.base {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3px 0px 0px;
    gap: 17px;
}
.tab {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    cursor: pointer;
}
.base1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3px 0px 0px;
}
.tab1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    cursor: pointer;
}
.tabs {
    align-self: stretch;
    border-bottom: 1px solid #1f1f1f;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    z-index: 0;
    font-size: 14px;
    color: #d8d8d8;
}
.jan12020 {
    position: absolute;
    width: 24.95%;
    top: calc(50% - 8px);
    left: 75.04%;
    display: inline-block;
}
.dateRange {
    position: absolute;
    width: 10.59%;
    top: calc(50% - 8px);
    left: 63.93%;
    display: inline-block;
}
.div {
    position: absolute;
    width: 0.51%;
    top: calc(50% - 8px);
    left: 60.68%;
    display: inline-block;
}
.all {
    position: absolute;
    width: 2.74%;
    top: calc(50% - 8px);
    left: 55.21%;
    display: inline-block;
}
.groups {
    position: absolute;
    width: 7.18%;
    top: calc(50% - 8px);
    left: 47.86%;
    display: inline-block;
}
.div1 {
    position: absolute;
    width: 0.51%;
    top: calc(50% - 8px);
    left: 44.62%;
    display: inline-block;
}
.all1 {
    position: absolute;
    width: 2.74%;
    top: calc(50% - 8px);
    left: 39.15%;
    display: inline-block;
}
.location {
    position: absolute;
    width: 8.21%;
    top: calc(50% - 8px);
    left: 30.43%;
    display: inline-block;
}
.div2 {
    position: absolute;
    width: 0.51%;
    top: calc(50% - 8px);
    left: 27.18%;
    display: inline-block;
}
.amPt {
    position: absolute;
    width: 12.31%;
    top: calc(50% - 8px);
    left: 12.14%;
    display: inline-block;
}
.dec312019Container {
    position: absolute;
    width: 12.48%;
    top: calc(50% - 8px);
    left: 0%;
    color: #686868;
    display: none;
}
.dateContainer {
    position: absolute;
    width: 12%;
    top: calc(50% - 8px);
    left: 0%;
    display: inline-block;
}
.infoStrip {
    width: 642px;
    position: relative;
    height: 16px;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 1;
    font-family: 'Segoe UI';
}
.daysCopy {
    position: absolute;
    top: calc(50% - 5px);
    right: 2px;
    line-height: 10px;
}
.daysCopy3 {
    position: absolute;
    top: calc(50% - 5px);
    left: 40.52%;
    line-height: 10px;
    color: #5b5fc7;
    text-align: center;
}
.daysCopy1 {
    position: absolute;
    top: calc(50% - 5px);
    left: 0px;
    line-height: 10px;
    text-align: left;
}
.pivotPointsdoubleFull60 {
    width: 232px;
    position: relative;
    height: 10px;
    z-index: 2;
    text-align: right;
    font-size: 10px;
    font-family: 'Segoe UI';
}
.string {
    width: 38px;
    position: relative;
    line-height: 16px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.string1 {
    flex: 1;
    position: relative;
    line-height: 16px;
}
.string2 {
    position: relative;
    line-height: 16px;
}
.stringWrapper {
    width: 85px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.iconContent {
    width: 20px;
    position: relative;
    height: 20px;
}
.base3 {
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 2px;
}
.iconbutton {
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.buttonsStack {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.headerContents {
    flex: 1;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 10px;
    box-sizing: border-box;
    gap: 8px;
}
.headercell {
    align-self: stretch;
    background-color: #1f1f1f;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    color: #d8d8d8;
    font-family: 'Segoe UI';
}
.rankChild {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 50%;
    background: linear-gradient(-41.31deg, #d09c35, #f7d249);
}
.b {
    position: absolute;
    height: 65.42%;
    width: 26.17%;
    top: 16.67%;
    left: 37.49%;
    display: inline-block;
}
.rank {
    width: 25.6px;
    position: relative;
    height: 24px;
}
.avatarIcon {
    width: 24px;
    position: relative;
    height: 24px;
    object-fit: cover;
}
.userName {
    flex: 1;
    position: relative;
}
.personDetails {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    text-align: left;
    color: #fff;
}
.mainContentStack {
    flex: 1;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.b1 {
    position: relative;
}
.icon {
    width: 16px;
    position: relative;
    height: 16px;
    overflow: hidden;
    flex-shrink: 0;
}
.transactionDetails {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 28px 0px 0px;
    gap: 10px;
    text-align: end!important;
    color: #f2a900;
}
.bodyContents {
    flex: 1;
    background-color: #1f1f1f;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    box-sizing: border-box;
}
.bodycell {
    align-self: stretch;
    border-bottom: 1px solid #2d2b2c;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
    color: #2d2b2c;
}
.rankItem {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 50%;
    background: linear-gradient(-41.31deg, #818080, #e5e5e5);
}
.rankInner {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 50%;
    background: linear-gradient(-41.31deg, #d06421, #f7a649);
}
.rank3 {
    width: 24.7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 4px 9px;
    box-sizing: border-box;
}
.personDetails3 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.transactionDetails3 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 28px 0px 0px;
    gap: 10px;
    text-align: right;
}
.bodycell3 {
    align-self: stretch;
    border-bottom: 1px solid #2d2b2c;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.ranking {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1px;
    z-index: 3;
    color: #fff;
}
.div3 {
    position: absolute;
    top: calc(50% - 9.7px);
    left: 0%;
    font-weight: 300;
}
.icon21 {
    position: absolute;
    top: 0px;
    right: 4px;
    width: 16px;
    height: 20px;
    overflow: hidden;
}
.moreIcon {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    overflow: hidden;
}
.actionBarReportFull1 {
    position: absolute;
    height: 75%;
    width: 15.79%;
    top: 12.5%;
    right: 1.32%;
    bottom: 12.5%;
    left: 82.89%;
}
.actionBarReportFull {
    width: 152px;
    position: absolute;
    margin: 0 !important;
    top: 6px;
    left: 851px;
    height: 32px;
    z-index: 4;
    font-size: 16px;
    color: #fff;
    font-family: 'Teams Assets';
}
.feedcomponent {
    width: 100%;
    position: relative;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.14), 0px 0px 1px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background-color: #2d2b2c;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    box-sizing: border-box;
    gap: 20px;
    text-align: left;
    font-size: 12px;
    color: #d6d6d6;
    font-family: Inter;
}

