.zapactivitychartbox {
    display: flex;
    width: 688px;
    padding: 20px;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;

    border-radius: 4px;
    background: var(--primary-background, #2D2B2C);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.14), 0px 0px 2px 0px rgba(0, 0, 0, 0.12);
    height: 240px;
}

.zapactivitycharttitle {
    align-self: stretch;
    text-align: left;

    color: var(--primary-text, #FFF);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    padding: 0px;
    margin: 0px 0px 10px 0px;
}

